@charset "utf-8";
/* CSS Document */

h2{color:#c01818;
text-align:center;
}
#banner{
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 75px;
	z-index: 1;
	background: #009;
}

}

.logo{padding:10px;
    width:300;
	height:100;

	
	}
	table.altrowstable {
	font-family: "Century Gothic", Century, Rockwell;
	font-size:11px;
	color:#333333;
	
	border-color: #000000;
	border-collapse: collapse;
	border-radius:100px;
	

}
table.altrowstable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #000000;
}
table.altrowstable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #CCCCCC;
}
.oddrowcolor{
	background-color:#dcdcdc;
}
.evenrowcolor{
	background-color:#b7b4b4;
}


#button{
background:#c01818;
display:block ;
color:#FFFFFF ;
text-align:center;
font-weight:bold ;
height:30px;
line-height :20px ;
margin-bottom :2px ;
text-decoration :1px ;
width: 150px ;

}
a:hover.button{
color:00000 ;
}


